/******
 colors
 darkblue: 333652
 gray: 90ADC6
 white: E9EAEC
 yellow: FAD02C
 red: darkred
 */


/***********************************
* Reset Browser Styling
 **********************************/
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Teko', sans-serif;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    background-color: #E9EAEC;
    margin: 4rem;

}

/***********************************
* Form styles
 **********************************/

h1{
    color: #333652;
    font-size: 4rem;
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-flow: column;
}

.form-group{
    display: flex;
    padding: 1rem 0;
}


select {
    color: #333652;
    font-family: 'Teko', sans-serif;
    background-color: rgb(248, 248, 248);
    cursor: default;
    margin: 0em;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #333652;
    font-size: 1.6rem;
}

select:focus,
select:focus-within{
    outline: none !important;
    border-color:  #FAD02C;
}

input[type='text']{
    text-indent: 3px;
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #333652;
    border: 0.2rem solid #333652;
}

input:focus{
    outline: none !important;
    border: 2px solid #FAD02C;
}

::placeholder {
    font-size: 1.6rem;
    color: #2d5d7cb0;
}

input[type='submit']{
    cursor: pointer;
    padding: 0.4rem;
    font-size: 1.6rem;
    color: #333652;
    background-color: #FAD02C;
    transition: transform 1s;
    margin-left: 2rem;

}

input[type='submit']:hover{
    transform: scale(0.95);
}

.input-group{
    display: flex;
    flex-flow: column;
}

.error{
    margin-top: -0.8rem;
    color: darkred;
    height: 2rem;
    font-size: 1.2rem;
}